<span class="pl8es-modal-delete">
  <a href="javascript:;" onclick="pl8es_f_initdelete($(this));">
    <button type="button" class="btn btn-danger pl8es-btn-delete">Delete</button>
  </a>
  <a href="javascript:;" onclick="pl8es_f_initdelete_cancel($(this));">
    <button type="button" class="btn btn-default pl8es-btn-delete-cancel">Cancel</button>
  </a>
  <a href="javascript:;" onclick="pl8es_f_initdelete_confirm($(this));">
    <button type="button" class="btn btn-danger pl8es-btn-delete-confirm">Sure, delete</button>
  </a>
  <input class="pl8es-input-delete" type="hidden" name="delete" value="true" disabled="disabled">
</span>