<div class="col-sm-3" style="margin-top:9px;margin-bottom:9px;">
  <div class="panel panel-primary" data-collapsed="0" style="margin-bottom:0px;">
  	<div class="panel-body" style="margin:0px;padding:0px;">
      <div class="pl8es_public_daily_panel_price" style="border-radius:12px;-moz-border-radius:12px;"><%=daily_dish.price %></div>
     	<article class="album" style="margin-bottom:0px;border-width:0px;">
     		<header>
          <img class="unveil" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%=daily_dish.image.url(:cropped_default_retina) %>" />
        </header>
        <div class="panel-heading custom-heading" style="cursor:default;">
          <input type="hidden" name="daily_dish_ids[<%=daily_dish.id %>]" value="">
          <div class="panel-title custom-title">
            <%=daily_dish.title %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>