$dailycious-main-color: #4C9A33;
$border-radius: 4px;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#map {
	height: 100%;
	width: 100%;
}

.leaflet-div-icon {
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background-color: transparent;
	border: none;
	
	&:after {
		-moz-transition: 0.4s;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 3px solid $dailycious-main-color;
		content: "";
		display: block;
		height: 34px;
		left: 3px;
		position: absolute;
		top: 3px;
		width: 34px;
		z-index: 2;
	}
	
	&:hover {
		top: -5px;
	}
	
	img {
		position: absolute;
		left: 0px;
		right: 0px;
		margin: auto;
		top: -10px;
		bottom: 0px;
	}
}

.leaflet-popup {

	.leaflet-popup-close-button {
		color: #fff !important;
		font-size: 12pt !important;
		padding: 4px !important;
		background-color: rgba(0, 0, 0, 0.3) !important;
		border-radius: 4px;
		text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
		height: 18px !important;

		top: 10px !important;
		left: 10px !important;
		z-index: 2;
	}

	.leaflet-popup-content-wrapper {
		border-radius: $border-radius;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		padding: 0;

		.leaflet-popup-content {
			height: 320px;
			width: 320px !important;
			margin: 0;
			padding: 0;

			.location {
				position: relative;
				height: 100%;
				background: none;
				border-radius: $border-radius;

				.dish-img {
					background-size: 100%;
					background-position: center;
					width: 100%;
					height: 100%;
					border-radius: $border-radius;
				}

				.dish-price {
					position: absolute;
					top: 10px;
					right: 10px;
					color: #fff;
					font-size: 12pt;
					padding: 2px 8px;
					background-color: rgba(0, 0, 0, 0.3);
					border-radius: 4px;
					text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
				}

				.dish-name {
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					color: #fff;
					font-size: 12pt;
					padding: 2px 8px;
					background-color: rgba(0, 0, 0, 0.3);
					border-bottom-left-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
					text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
				}
			}

		}
	}
}

.leaflet-div-icon {

	img {
		width: 38px;
		height: 38px;
		-moz-border-radius: 8px;
		border-radius: 26px;
		top: -15px;
		margin-left: -0px;
		border: 0px solid white;
	}
	
	&:after {
		border-color: transparent;
	}

}

.marker-cluster {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid $dailycious-main-color;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: $dailycious-main-color;
  width: 32px;
  height: 38px;
  background-color: #fff;

  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;

  span {
    font-family: "Roboto", sans-serif;
  }

  &:hover {
    color: #fff;
    background-color: $dailycious-main-color;
    border: 1px solid #fff;
  }
}

