<% content_for :body_class, "page-body" %>

<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <ul id="main-menu">
      <%=render :partial => "layouts/dashboard_menu" %>
    </ul>
  </div>  
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="index.html"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="active">
        <a href="#">Alle Speisekarten</a>
      </li>
      <li class="active">
        <strong><%=@menu.title %></strong>
      </li>
    </ol>
    <div class="row gallery-env">
      <% @menu.navigations.each do |navigation| %>
		  <div class="col-sm-4">
		  	<article class="album">
		  		<header>
		  			<a href="extra-gallery-single.html">
		  				<img src="assets/images/album-thumb.jpg" />
		  			</a>
		  		</header>
		  		<section class="album-info">
		  			<h3><a href="extra-gallery-single.html">Album Title</a></h3>
		  		</section>
		  		<footer>
		  			<div class="album-images-count">
		  				5
		  				<i class="entypo-folder"></i>
		  			</div>
		  			<div class="album-images-count">
		  				12
		  				<i class="glyphicon glyphicon-cutlery"></i>
		  			</div>
		  			<div class="album-options">
		  				<a href="#">
		  					<i class="entypo-trash"></i>
		  				</a>
		  			</div>
		  		</footer>
		  	</article>
		  </div>
      <% end %>
    </div>
  </div>
</div>