/* ––––––––––––––
	category tile
–––––––––––––– */

.gallery-env {
	
	.category-holder {
		
		.panel-heading {
			position: absolute;
			bottom: 40px;
			color: #fff;
			background-color: rgba(0,0,0,0.4);
			width: 100%;
			
			.panel-title {
				height: 40px;
				line-height: 40px;
				padding: 0 10px;
				font-weight: normal;
				width: 100%;
			}
		}
	}
}