/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}
.pl8es_c_table-toolbar {
  float: right;
  margin-right: 12px;
}
.pl8es_c_table-toolbar .btn {
  margin-top: -4px;
}
.pl8es_c_toggledefaultmenu,.pl8es_c_revertdefaultmenu, .pl8es_c_confirmdeletemenu {
  display: none;
}
.draggable-portlets .sorted .ui-sortable-placeholder
{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -15px;
  background-color: #eee;
}
.draggable-portlets .sorted .panel .panel-heading
{
  cursor: move;
}
.gallery-env article.album header img
{
  -webkit-border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  border-radius: 0 0 0 0;
}