// overwriting neon core theme
.album-images-count {
	padding: 11px 15px !important;
}

article.album {
	margin-bottom: 0 !important;
}

.panel-body {
	padding: 0 !important;
}

.panel-heading {
	width: 100%;
}


/**
 *
 * Apply Here your Custom CSS
 *
*/

.profile-info.dropdown > a img {
	border: solid 1px transparent;
}
.pl8es_c_table-toolbar {
	float: right;
	margin-right: 12px;
	
	.btn {
		margin-top: -4px;
	}
}
.draggable-portlets {
	
	.sorted .ui-sortable-placeholder {
		padding: 10px 0;
		background-color: #eee;
		margin: -2px 0;
	}
	
	.sorted .panel .panel-heading {
		cursor: move;
	}
	
	.panel {
		border-radius: 0px;
		border-radius: 0px;
		
		* {
			border-radius: 0px;
			border-radius: 0px;
		}
		
		img {
			-webkit-border-radius: 0 0 0 0;
			-webkit-background-clip: padding-box;
			-moz-border-radius: 0 0 0 0;
			-moz-background-clip: padding;
			border-radius: 0 0 0 0;
		}
	}
}

ul.ui-selectable {
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	li.ui-selectee {
		border: solid 2px #fff;
		
		&.ui-selected {
			border: solid 2px #21a9e1;
		}
	}
}
.pl8es_c_dish {
	
	.pl8es_c_dish_title {
		padding-top: 6px;
		padding-bottom: 6px;
		color: #000;
		font-size: 14px;
		font-weight: bold;
	}
	
	.pl8es_c_dish_price {
		padding: 6px;
		background-color: rgba(0,0,0,0.2);
		color: #fff;
		font-weight: bold;
		display: inline-block;
	}
}
.modal .modal-dialog .modal-content .modal-header ul.nav.nav-tabs {
	display: inline-block;
	margin-bottom: 0px;
	border-bottom: 0px solid transparent;
	
	li {
		margin-bottom: -20px;
		
		a {
			padding-bottom: 15px;
		}
	}
}
div.form-group.fileinput.fileinput-new {
	
	.fileinput-filename, .close {
		position: absolute;
	}
}
div.has-switch div.switch-off input {
	display: none;
}
.select2-container .select2-choice {
	height: 31px;
	line-height: 31px;
	
	.select2-chosen {
		height: 31px;
		line-height: 31px;
	}
	
	.select2-arrow {
		height: 31px;
		line-height: 31px;
	}
}
div.tile-stats.datepicker.weekpicker {
	float: left;
	padding: 0px;
	border: solid 0px transparent;
}
.form-group.fileinput.validate-has-error span.btn.btn-info.btn-file {
	overflow: visible;
	border-color: #cc2424;
	
	span.validate-has-error {
		position: absolute;
		left: 0px;
		top: 30px;
		background-color: #fff;
	}
}
.form-group.fileinput.validate-has-error-file span.btn.btn-info.btn-file {
	overflow: visible;
	border-color: #cc2424;
	
	span.validate-has-error-file {
		position: absolute;
		left: 0px;
		top: 30px;
		background-color: #fff;
		color: #cc2424;
		display: inline-block;
		margin-top: 5px;
	}
}

span.pl8es-modal-delete {
	
	button.btn.pl8es-btn-delete {
		float: left;
		opacity: 0.2;
		
		&:hover {
			opacity: 0.4;
		}
	}
	
	button.btn.pl8es-btn-delete-cancel {
		float: left;
		display: none;
		margin-right: 8px;
	}
	
	button.btn.pl8es-btn-delete-confirm {
		float: left;
		display: none;
	}
	
	input.pl8es-input-delete {
		display: none;
	}
}
.neon-loading-bar span {
	background-color: #68ccf0;
}
.pl8es_public_daily_panel_price {
	position: absolute;
	z-index: 20;
	right: 0px;
	margin-top: 8px;
	margin-right: 8px;
	line-height: 24px;
	padding: 0 6px;
	background-color: rgba(168, 168, 168, 0.8);
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid #ffffff;
}