/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}
.pl8es_c_table-toolbar {
  float: right;
  margin-right: 12px;
}
.pl8es_c_table-toolbar .btn {
  margin-top: -4px;
}
.pl8es_c_toggledefaultmenu,.pl8es_c_revertdefaultmenu, .pl8es_c_confirmdeletemenu {
  display: none;
}
.draggable-portlets .sorted .ui-sortable-placeholder
{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -15px;
  background-color: #eee;
}
.draggable-portlets .sorted .panel .panel-heading
{
  cursor: move;
}
.gallery-env.draggable-portlets .panel
{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.gallery-env.draggable-portlets .panel .panel-body
{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.gallery-env.draggable-portlets article.album .panel-heading
{
  color: #000;
  position: absolute;
  margin-top: -40px;
  margin-bottom: -40px;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.gallery-env.draggable-portlets article.album .panel-heading
{
  color: #000;
  position: absolute;
  margin-top: -40px;
  margin-bottom: -40px;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
ul.ui-selectable
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.ui-selectable li.ui-selectee
{
  /*display: inline;*/
  border: solid 1px #ccc;
}
ul.ui-selectable li.ui-selectee.ui-selected
{
  border: solid 1px #000;
}