body.modal-open {
    overflow: visible;
}

.modal {
	margin-bottom: 20px;
	
	.modal-title {
		display: inline-block;
	}
}

#default-modal {
	.modal-delete {
		float: left;
		
		.delete {
			opacity: 0.2;
			
			&:hover {
				opacity: 0.4;
			}
		}
		
		.cancel, .confirm {
			display: none;
		}
	}
}

// tile to add new elements
.new_tile {
	margin: 9px 0;
	
	.panel-body {
		padding: 0;
		
		.album {
			height: 174px;
			width: 248px;
			margin-bottom: 0;
			
			img {
				visibility: hidden;
			}
			
			.title {
				position: absolute;
				top: 50%;
				width: 100%;
				font-size: 16px;
			}
		}
	}
}

.field_with_errors {
	color: red;
}