body.modal-open {
    overflow: visible;
}

.modal {
	margin-bottom: 20px;
	
	.modal-title {
		display: inline-block;
	}
}

#default-modal {
	.modal-delete {
		float: left;
		
		.delete {
			opacity: 0.2;
			
			&:hover {
				opacity: 0.4;
			}
		}
		
		.cancel, .confirm {
			display: none;
		}
	}
}

// tile to add new elements
.new_tile {
	margin: 9px 0;
}