$main-color: #EF7E76;

// colors of the pl8-verticals
$dailycious-main-color: #4C9A33;
$menumalist-main-color: #FF6666;
$vinomalist-main-color: #56BBE9;

// colors used by neon
$neon-dark-grey: #51555d;
$neon-light-grey: #949494;
$neon-blue-grey: #373e4a;
$neon-lighter-notwhite: #ebebeb;