<!-- add class "multiple-expanded" to allow multiple submenus to open -->
<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
<!-- Search Bar -->
<li id="search">
	<form method="get" action="">
		<input type="text" name="q" class="search-input" placeholder="Search something..."/>
		<button type="submit">
			<i class="entypo-search"></i>
		</button>
	</form>
</li>
<li>
	<a href="index.html">
		<i class="entypo-gauge"></i>
		<span>Dashboard</span>
	</a>
</li>
<li class="opened active">
	<a href="layout-api.html">
		<i class="entypo-layout"></i>
		<span>Speisekarten</span>
	</a>
	<ul>
		<li class="active">
			<a href="layout-api.html">
				<span>Alle Speisekarten</span>
			</a>
		</li>
		<li>
			<a href="layout-collapsed-sidebar.html">
				<span>Kategorien</span>
			</a>
		</li>
		<li>
			<a href="dishes.html">
				<span>Speisen</span>
			</a>
		</li>
		<li>
			<a href="dishes.html">
				<span>Getränke</span>
			</a>
		</li>
		
	</ul>
</li>
<li>
	<a href="daily-meals.html">
		<i class="entypo-newspaper"></i>
		<span>Tagesmenüs</span>
	</a>
</li>
<li>
	<a href="mailbox.html">
		<i class="entypo-mail"></i>
		<span>Weinkarte</span>
	</a>
	<ul>
		<li>
			<a href="mailbox.html">
				<i class="entypo-inbox"></i>
				<span>Inbox</span>
			</a>
		</li>
		<li>
			<a href="mailbox-compose.html">
				<i class="entypo-pencil"></i>
				<span>Compose Message</span>
			</a>
		</li>
		<li>
			<a href="mailbox-message.html">
				<i class="entypo-attach"></i>
				<span>View Message</span>
			</a>
		</li>
	</ul>
</li>
<li>
	<a href="extra-profile.html">
		<i class="entypo-doc-text"></i>
		<span>Restaurant</span>
	</a>
</li>