<ul id="main-menu">
  <li>
  	<a href="index.html">
  		<i class="entypo-gauge"></i>
  		<span>Dashboard</span>
  	</a>
  </li>
  <li class="opened active">
  	<a href="<%=url_for :controller => "menumalist", :action => "index" %>">
  		<i class="entypo-layout"></i>
  		<span>Speisekarten</span>
  	</a>
  </li>
  <li>
  	<a href="daily-meals.html">
  		<i class="entypo-newspaper"></i>
  		<span>Tagesmenüs</span>
  	</a>
  </li>
  <li>
  	<a href="mailbox.html">
  		<i class="entypo-mail"></i>
  		<span>Weinkarte</span>
  	</a>
  	<ul>
  		<li>
  			<a href="mailbox.html">
  				<i class="entypo-inbox"></i>
  				<span>Inbox</span>
  			</a>
  		</li>
  		<li>
  			<a href="mailbox-compose.html">
  				<i class="entypo-pencil"></i>
  				<span>Compose Message</span>
  			</a>
  		</li>
  		<li>
  			<a href="mailbox-message.html">
  				<i class="entypo-attach"></i>
  				<span>View Message</span>
  			</a>
  		</li>
  	</ul>
  </li>
  <li>
  	<a href="extra-profile.html">
  		<i class="entypo-doc-text"></i>
  		<span>Restaurant</span>
  	</a>
  </li>
</ul>