<footer class="main">
  <% if 1 == 2 %>
  <div class="pull-right">
    <a href="http://themeforest.net/item/neon-bootstrap-admin-theme/6434477" target="_blank">
      <strong>Purchase this theme for $21</strong>
    </a>
  </div>
  <% end %>
	<p>© 2014 <strong>pl8.cc</strong> daily - menu - vino<% if 1 == 2 %><a href="http://laborator.co" target="_blank">Laborator</a><% end %></p>
</footer>