<header class="logo-env">
	<div class="logo">
		<%= get_correct_logo() %>
	</div>
	<div class="sidebar-collapse">
		<a href="#" class="sidebar-collapse-icon with-animation">
			<i class="entypo-menu"></i>
		</a>
	</div>
	<div class="sidebar-mobile-menu visible-xs">
		<a href="#" class="with-animation">
			<i class="entypo-menu"></i>
		</a>
	</div>
</header>