<ul id="main-menu">
  <li>
  	<a href="http://www.dailycious.co/map">
  		<i class="entypo-direction"></i>
  		<span><%=t("layouts.public_menu.map") %></span>
  	</a>
  </li>
  <li>
  	<a href="http://dailycious.co/restaurant">
  		<i class="entypo-user"></i>
  		<span><%=t("layouts.public_menu.for_restaurants") %></span>
  	</a>
  </li>
  <li>
  	<a href="http://dailycious.co/blog">
  		<i class="entypo-newspaper"></i>
  		<span><%=t("layouts.public_menu.blog") %></span>
  	</a>
  </li>
  <li>
  	<a href="http://dailycious.co/login">
  		<i class="entypo-lock"></i>
  		<span><%=t("layouts.public_menu.login") %></span>
  	</a>
  </li>
</ul>